<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2><%= link_to 'home', '/' %> </h2>
<h2> <%= link_to 'all todos', todos_path %>  </h2>

<%= yield %>

</body>
</html>
